.title {
    margin: 8px;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: rgb(110, 79, 247);
    color: rgb(245, 210, 35);
    width: 470px;
}


.img {
    margin: 8px;
    padding: 12px 14px;
    border-radius: 10px;
    width: 470px;
}



.div {
    display: flex;
    gap: 10px;
}

.text {
    margin: 10px;
    padding: 8px;
    background-color: rgb(245, 210, 35);
    color: rgb(110, 79, 247);
    font-weight: bolder;
    border-radius: 15px;
    width: 350px;
}

.btn {
    margin: 10px;
    padding: 8px 12px;
    border-radius: 15px;
    background-color: aqua;
    color: blue;
    width: 70px;
    height: 40px;
    font-weight: bolder;

}

.btn:hover,
.btn:focus {
    background-color: blue;
    color: aqua;
}